.vscode/**
.vscode-test/**
.pnpm-store/**
out/**
hydrated/**
node_modules/**
src/**
.gitignore
.yarnrc
.npmrc
pnpm-lock.yaml
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
examples/**
.devcontainer/**
test/**
dist/test/**
.eslint*
coverage/**
.nyc_output/**